# nombre de la rama a evaluar
trigger:
- main

# Nombre del agente instalado en nuestra maquina local o vmImage: en la nube
pool:
  name: 'agenteDVCasa'

variables:
  buildConfiguration: 'Release'
  # Especificamos el SDK de .NET 9 explícitamente
  dotnetVersion: '9.x'

steps:
# 1. Instalar el SDK de .NET 9
- task: UseDotNet@2
  displayName: 'Install .NET SDK $(dotnetVersion)'
  inputs:
    packageType: 'sdk'
    version: $(dotnetVersion)

# 2. Preparar el analisis de configuracion
- task: SonarCloudPrepare@4
  displayName: 'Prepare Analysis on SonarCloud'
  inputs:
    SonarQube: 'SonarCloudConn'
    organization: 'ingediego94'
    scannerMode: 'dotnet'
    projectKey: 'ingediego94_netflix-back'
    projectName: 'netflix-back'

# 3. Restaurar dependencias (NuGet)
- task: DotNetCoreCLI@2
  displayName: 'Restore Dependencies'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

# 4. Compilar la solución
- task: DotNetCoreCLI@2
  displayName: 'Build Solution ($(buildConfiguration))'
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

# 5. Corre el SonarCloud
- task: SonarCloudAnalyze@4
  displayName: 'Run Code Analysis'
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'

# 6. Publicar los resultados.
- task: SonarCloudPublish@4
  displayName: 'Publish Quality Gate Result'
  inputs:
    pollingTimeoutSec: '300'

# 4. Ejecutar Unit Tests
# Si un test falla, el pipeline se detendrá aquí
- task: DotNetCoreCLI@2
  displayName: 'Run Unit Tests'
  inputs:
    command: 'test'
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'

# 5. Publicar el proyecto (Prepara los archivos para el servidor)
- task: DotNetCoreCLI@2
  displayName: 'Publish Application'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true

# 6. Subir el artefacto a Azure Pipelines
- task: PublishBuildArtifacts@1
  displayName: 'Upload Artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'netflix-api'
    publishLocation: 'Container'
